*{
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.left{
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}